*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(65deg, black, #4B0082) ;
    height: 100vh;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
}
.calculadora{
    position: absolute;
    background-color: white;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    margin-left: 40%;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: black;
    border: none ;
    color: white;
}
.botao:hover{
    background-color:#00FFFF;
}
#resultado{
    background-color: black;
    width: 200px;
    height: 30px;
    margin: 3px;
    font-size: 30px;
    padding: 15px;
    color: white;
    border-radius: 5px;
}
.e{
    font-size: 50px;
    font-style: oblique;
    color: white;
}